RewriteEngine On

Redirect 301 /contacts.html https://westcoaststonework.com/contact.html
Redirect 301 /aboutus.html https://westcoaststonework.com/about.html
Redirect 301 /page.html https://westcoaststonework.com/about.html
Redirect 301 /kitchen.html https://westcoaststonework.com/kitchen-countertops-los-angeles.html
Redirect 301 /portfolio.html https://westcoaststonework.com/work.html
Redirect 301 /fireplace.html https://westcoaststonework.com/fireplace-stone-installation-los-angeles.html
Redirect 301 /bathroom.html https://westcoaststonework.com/bathroom-vanity-tops-los-angeles.html
Redirect 301 /stone-slabs-los-angeles.html https://westcoaststonework.com/premium-countertop-surfaces-los-angeles.html
Redirect 301 /flooring.html https://westcoaststonework.com/stone-fabrication-los-angeles.html
Redirect 301 /faq.html https://westcoaststonework.com/stone-fabrication-los-angeles.html
Redirect 301 /wip1.html https://westcoaststonework.com/shower-slab-walls-los-angeles.html
Redirect 301 /wip2.html https://westcoaststonework.com/shower-slab-walls-los-angeles.html
Redirect 301 /wip3.html https://westcoaststonework.com/shower-slab-walls-los-angeles.html
